<html>
<head>
    <title> Password Generator </title>
</head>
<br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}
{% endblock %}

<form action="{{ url_for('pwd_gen') }}" method="POST">
<h3> Password Generator </h3> <br>
<span> Enter the password length : </span>
<input type="number" align="center" name="pwd_length">
<br><br>
    <input type="submit" name="form_data">
<br><br>
<span> Generated Password : </span>
</form>
<input type="text" align="center" name="pwd_gen" value="{{pwd_generated}}"> <br> <br>
</html>

